@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

#backgroundSplashImg {
    width: 100vw;
    height: 100vh;
    position: relative;
}

@keyframes zoomHeader {
    from {font-size: 1em;}
    to {font-size: 8em;}
}

@keyframes moveHeaderUp {
    from {top: 50%;}
    to {top: 42%;}
}

#header {
    position: absolute;
    width: 100vw;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    text-align: center;
    font-family: 'New Rocker', cursive;
    color: #c62a88;
    text-shadow: 1px 1px 2px #fcc910, 0 0 25px blue, 0 0 5px darkblue;
    animation-name: zoomHeader, moveHeaderUp;
    animation-duration: 5000ms, 1000ms;
    animation-delay: 0ms, 6000ms; /* add this */
    animation-timing-function: ease-in, ease-out;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards;
}

#playButton {
    position: absolute;
    z-index: 2;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

